<%- include('partials/head') %>
  <h1>Hi Larissa, welke planning wil je raadplegen</h1>
  
  <main>
    <a href="jaarPlan">Weekschema</a>
    <a href="jaarPlan">Jaarplan</a>
  </main>
  <%- include('partials/footer') %>