<%- include('partials/head') %>
  <h1>Van welke maand wil je de planning weten?</h1>
  <main>
    <a href="jaarschema">Januari</a>
    <a href="jaarschema">Februari</a>
    <a href="jaarschema">Maart</a>
    <a href="jaarschema">April</a>
    <a href="jaarschema">Mei</a>
    <a href="jaarschema">juni</a>
    <a href="jaarschema">Juli</a>
    <a href="jaarschema">Augustus</a>
    <a href="jaarschema">September</a>
    <a href="jaarschema">oktober</a>
    <a href="jaarschema">November</a>
    <a href="jaarschema">December</a>
  </main>

  <%- include('partials/footer') %>